.average_mood {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: calc(12rem / 16);
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    gap: calc(8rem / 16);
    justify-content: start;
    align-items: center;
}

.header_text_main {
    color: #21214D;
    font-weight: 600;
    font-size: calc(20rem / 16);
    line-height: 140%;
}

.header_text_ext {
    color: #57577B;
    font-size: calc(15rem / 16);
    font-weight: normal;
}

.card {
    display: flex;
    flex-direction: column;
    gap: calc(12rem / 16);
    justify-content: start;
    align-items: start;
    border-radius: 20px;
    padding: calc(42rem / 16) calc(16rem / 16);
    height: calc(150rem / 16);
    width: 100%;
    background-image: url("../../../assets/bg-pattern-averages.svg");
    background-repeat: no-repeat;
    background-position: +350%;
}

.very_happy_card_color {
    background-color: #FFC97C;
}

.happy_card_color {
    background-color: #89E780;
}

.neutral_card_color {
    background-color: #89CAFF;
}

.sad_card_color {
    background-color: #B8B1FF;
}

.very_sad_card_color {
    background-color: #FF9B99;
}

.unknow_card_color {
    background-color: #E0E6FA;
}

.card_header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: calc(12rem / 16);
}

.card_header_text {
    color: #21214D;
    font-weight: 600;
    font-size: calc(24rem / 16);
    line-height: 140%;
}

.card_body {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: calc(8rem / 16);
}

.card_body_icon {
}

.feeling_icon_svg {
    width: 24px;
    height: 24px;
}

.card_body_icon_svg {
    width: 15px;
    height: 15px;
    fill: #21214D;
}

.card_body_text {
    color: #21214D;
    font-size: calc(15rem / 16);
    letter-spacing: -0.3px;
    line-height: 140%;
    font-weight: normal;
}


