.feeling_container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: calc(32rem / 16) calc(16rem / 16);
    justify-content: center;
    align-items: center;
    gap: calc(32rem / 16);
    border-radius: 16px;
    width: 100%;
}

.feeling_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(32rem / 16);
}

.feeling_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feeling_header_top {
    font-size: calc(32rem / 16);
    font-weight: bold;
    line-height: 140%;
    letter-spacing: -0.3px;
    color: #21214D;
    opacity: 70%;
}

.feeling_header_bottom {
    font-size: calc(40rem / 16);
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.3px;
    color: #21214D;
}

.feeling_quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(12rem / 16);
}

.quote_icon_svg {
    width: 24px;
    height: 24px;
}

.feeling_icon_svg {
    width: 200px;
    height: 200px;
}

@media (min-width: 768px) {
    .feeling_container {
        justify-content: start;
        align-items: start;
    }

    .feeling_content {
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
        height: calc(300rem / 16);
    }

    .feeling_icon {
        position: absolute;
        left: 49%;
        width: calc(319rem / 16);
        height: calc(319rem / 16);
    }

    .feeling_icon_svg {
        width: calc(319rem / 16);
        height: calc(319rem / 16);
    }
}

@media (min-width: 768px) {
    .feeling_quote {
        width: 50%;
        align-items: start;
    }
}

@media (min-width: 1440px) {
    .feeling_container {
        width: calc(670rem / 16);
    }
}