.sleep_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: calc(20rem/16);
    border-radius: 16px;
    gap: calc(16rem/16);
    width: 100%;
    background-color: #ffffff;
}
.sleep_header {
    display: flex;
    flex-direction: row;
    gap: calc(12rem/16);
}
.sleep_header_icon {
    width: 22px;
    height: 22px;
}
.sleep_header_text {
    color: #57577B;
    font-size: calc(18rem/16);
    line-height: 120%;
}
.sleep_time {
    color: #21214D;
    font-size: calc(32rem/16);
    font-weight: bold;
    line-height: 140%;
    letter-spacing: -0.3px;
}

@media (min-width: 1440px) {
    .sleep_container {
        height: 100%;
    }
}
