.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: calc(32rem / 16)
}

.form_input {
    display: flex;
    flex-direction: column;
    gap: calc(20rem / 16);
}

.form_input_element {
    display: flex;
    flex-direction: column;
    gap: calc(8rem / 16);
}

.form_input_element label {
    color: #21214D;
    font-size: calc(18rem / 16);
    line-height: 140%;
    letter-spacing: -0.3px;
}
.form_input_text {
    padding: calc(12rem / 16) calc(16rem / 16);
    border: 1px solid #9393B7;
    border-radius: 10px;
    color: #9393B7;
    font-size: calc(16rem / 16);
    line-height: calc(24rem / 16);
}

.form_input_error {
    color: #E60013;
    font-size: calc(12rem / 16);
}