.personalize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(32rem / 16);
    padding: calc(40rem / 16) calc(16rem / 16);
    background-color: #FFFFFF;
    border-radius: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: calc(8rem / 16);
}

.header_top {
    text-align: start;
    color: #21214D;
    font-size: calc(32rem / 16);
    line-height: 140%;
    letter-spacing: -0.3px;
    font-weight: bold;
}

.header_body {
    text-align: start;
    color: #57577B;
    font-size: calc(18rem / 16);
    line-height: 140%;
    letter-spacing: -0.3px;
}