.button {
    background-color: #4865DB;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: calc(20rem / 16);
    font-weight: bold;
    line-height: 140%;
    border: 0;
    padding: calc(16rem / 16) calc(32rem / 16);
    width: 100%;
}

@media (min-width: 768px) {
    .small_width {
        width: calc(290rem / 16);
    }
}
